<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FeedCTO</servlet-name>
        <servlet-class>control.FeedCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCTO</servlet-name>
        <servlet-class>control.RegistroCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostsCTO</servlet-name>
        <servlet-class>control.PostsCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioCTO</servlet-name>
        <servlet-class>control.InicioCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCTO</servlet-name>
        <servlet-class>control.BuscarCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPublicacionCTO</servlet-name>
        <servlet-class>control.VerPublicacionCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilCTO</servlet-name>
        <servlet-class>control.PerfilCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentariosCTO</servlet-name>
        <servlet-class>control.ComentarioCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contacto</servlet-name>
        <servlet-class>control.Contacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificacionCTO</servlet-name>
        <servlet-class>control.VerificacionCTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioPerfil</servlet-name>
        <servlet-class>control.CambioPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedCTO</servlet-name>
        <url-pattern>/FeedCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCTO</servlet-name>
        <url-pattern>/RegistroCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostsCTO</servlet-name>
        <url-pattern>/PostsCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioCTO</servlet-name>
        <url-pattern>/InicioCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCTO</servlet-name>
        <url-pattern>/BuscarCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPublicacionCTO</servlet-name>
        <url-pattern>/VerPublicacionCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilCTO</servlet-name>
        <url-pattern>/PerfilCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentariosCTO</servlet-name>
        <url-pattern>/ComentariosCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contacto</servlet-name>
        <url-pattern>/Contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificacionCTO</servlet-name>
        <url-pattern>/VerificacionCTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioPerfil</servlet-name>
        <url-pattern>/CambioPerfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
